* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.c1{
  width: 98.5vw;
  height: 56vh;
  background-image:url(../img/sanleo.jpg);
  background-size: cover;
  margin-bottom: 8px;
}
.c2{
  width: 98.5vw;
  height: 56vh;
  background-image:url(../img/santagata.jpg);
  background-size: cover;
  margin-bottom: 8px;
}
.c3{
  width: 98.5vw;
  height: 56vh;
  background-image:url(../img/minas.jpg);
  background-size: cover;
}
.title{
  text-align:center;
  position: relative;
  font-size: 3em;
  height: 60px;
  top: 180px;
}

.layover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(233,233,240,0.2);
}





/* img{
  width: 98vw;
  height: 58vh;
  margin: 5px 5px 0px 5px;
}
.copertura {
  position: relative;
  width: 98.7vw;
  height: 178.5vh;
  background-color: rgba(233,233,240,0.2);
}
.n1 {
  border: 1px solid black;
}
.n1 #sl{
    text-align:center;
    position: absolute;
    top: calc((100% - 60px) / 2);
    height: 60px;
    font-size: 3.5em;
}
#nome {
  text-align:center;
  position: absolute;
  font-size: 3em;
  top: 25%;
  left: 50%;
}
#nome2 {
  text-align:center;
  position: absolute;
  font-size: 3em;
  top: 88%;
  left: 50%;
}
#nome3 {
  text-align:center;
  position: absolute;
  font-size: 3em;
  bottom: -355px;
  left: 50%;
} */
